.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navBar{
  display: flex;
  margin-top: 10px;
  justify-content: space-around;
}
/* .nav-img{

} */
.nav-course{
  display: flex;
  width: 700px;
  justify-content: space-around;
}

.nav-course > p {
  font-size: 0.875rem;
  font-family: sans-serif;
  color: rgb(26,32,44);
}
.nav-btn{
  display: flex;
  width: 300px;
  justify-content: space-between;
}

.nav-btn-one{
  background-color: red;
  color: white;
  width: 200px;
  border: none;
  border-radius: 5px;
}
.nav-btn-two{
  background-color: white;
  color: red;
  border: 1px solid red;
  border-radius: 5px;
  width: 75px;
}

.heroDiv-one > h1 {
  font-size: 50px;
  font-weight:900;
}
.heroDiv-two-pOne{
  font-size: 24px;
  line-height: 34px;
  color: rgb(45, 55, 72);
}
.heroDiv-two-pTwo{
font-size: 24px;
font-weight: bold;
line-height: 34px;
color: rgb(23, 25, 35);
z-index: 1;
margin-top: -25px;
}
.heroDiv-two > img{
/* position: absolute; */
z-index: 2;
width: 220px;
top: 48px;
vertical-align: middle;
margin-top: -40px;
}
.heroDiv-three > button {
  background-color: red;
  color: white;
  width: 300px;
  border: none;
  border-radius: 8px;
  height: 50px;
  font-weight: bold;
  font-size:medium;
}
.student-div{
  margin-top: 100px;
  display: flex;
  overflow:scroll;
  -webkit-animation-name: move;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: right;
  -webkit-animation-timing-function: linear;
}
.student-div > img {
  animation: slide infinite 3s alternate;
}
.student-div:hover {
  -webkit-animation-play-state: paused;
}

.heroContentTwo-div > p {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: rgb(84, 77, 79);
}
.heroContentTwo-div > h2 {
  font-family:sans-serif;
  font-feature-settings: "kern";
  display: block;
  margin-top: -10px;
  font-size: 34px;
  font-weight: 600;
  line-height: 40px;
  color: rgb(10,1,3);
}

.companiesDiv-one{
display: flex;
gap: 50px;
overflow: scroll;
justify-content: space-around;
background-color: rgb(255,250,251);
}
.comapniesDiv-two  {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  display: flex;
  border-radius: 20px;
  background-color: rgb(255,255,255);
}
.comapniesDiv-two > img {
  border-radius: 20px;
}
.placement-mainDIv{
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}
.placement-mainDiv-first{
  margin-top: -30px;
}
.firstDiv-one{
  background-color: rgb(52,112,228);
  width: 600px;
  height: 300px;
  border-radius: 20px;
  color: rgb(225,225,225);
  justify-content: center;
}
.firstDiv-one > p {
  color: rgb(225,225,225);
  font-size: 12px;
  font-weight: 700;
  text-align: center;
}
.subFirstDiv-one{
  margin-top: 10px;

}
.subFirstDiv-one > p > span > img {
  height: 50px;
  left: -30px;
}
.subFirstDiv-one > p > span{
  color: rgb(255,219,102);
  font-size: 34px;
  font-weight: 700;
  line-height: 40px;
}
.subFirstDiv-one > p{
  font-size: 34px;
  font-weight: 700;
  line-height: 5px;
  
}
.placementRate{
  height: 16px;
  left: -10px;

}
.firstDiv-two{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}


.subFirstDiv-two{
  background-color: rgb(111,189,205);
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  width: 40%;
  height: 250px;
}
.placementSvg{
  width: 70px;
  height: 70px;
  margin-left: 80px;
  margin-top: 20px;
}
.placement-salary{
  font-size: 34px;
  font-weight: 600;
  margin-top: 16px;
  line-height: 40px;
  color: rgb(255,255,255);
}
.subFirstDIv-two-two{
  background-color: rgb(111, 205, 158);
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  width: 40%;
  height: 250px;
}
.placementSvghigh{
  width: 70px;
  height: 70px;
  margin-left: 80px;
  margin-top: 20px;
}
.placementSvghigh > svg {
  height: 70px;
}

.placement-mainDiv-second{
  background-color: rgb(110,113,204);
  border-radius: 20px;
}
.secondDiv-one > img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

.secondDiv-two > h2 {
  font-weight: bold;
  color: rgb(255,255,255);
  font-size: 34px;
}
.secondDiv-two > button {
  background-color: rgb(110,113,204);
  color: rgb(255,255,255);
  border: 1px solid white;
  font-size: large;
  border-radius: 10px;
  width: 150px;
  height: 50px;
}
.skill{
  margin-top: 100px;
}
.skill > h2 {
  font-size: 45px;
  font-weight: bolder;
}
.skill > p {
  font-size: large;
  margin-top: -10px;
  font-weight: 500;
}